<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Here is body code -->
    <% if (message.length !=0) { if (message[0].alert=='success' ) { %>
        <div class="alert alert-success" role="alert">
            <%= message[0].message %>
        </div>
    <% } else if (message[0].alert=='warning' ) { %>
        <div class="alert alert-warning" role="alert">
            <%= message[0].message %>
        </div>
    <% } else { %>
        <div class="alert alert-warning" role="alert">
        <%= message[0].message %>
    </div>
    <% } } %>
    <div class="row">
        <a class="col-xl-3 col-md-6 mb-3" href="/admin/users">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Data Users
                            </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= data[0] %></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a class="col-xl-3 col-md-6 mb-3" href="/admin/products">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Data Products
                            </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= data[1] %></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-cart-flatbed fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a class="col-xl-3 col-md-6 mb-3" href="/admin/inventories">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Data Inventories
                            </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= data[2] %></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-warehouse fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a class="col-xl-3 col-md-6 mb-3" href="/admin/transactions">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Data Transaksi
                            </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= data[3] %></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-file-invoice-dollar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="row">
        <div class="col-xl col-md-6 mb-3">
            <div class="d-sm-flex align-items-center justify-content-between mb-3 mt-3">
                <h5 class="mb-0 text-gray-800">Barang Paling Diminati Customer</h5>
            </div>
            <table class="table table-responsive table-hover">
                <thead>
                    <th style="min-width: 70px;">No.</th>
                    <th style="min-width: 230px;">Nama Product</th>
                    <th style="min-width: 150px;">Total Pembelian</th>
                </thead>
                <tbody>
                    <% mostPopularProduct.forEach((data, index) => { index++ %>
                        <tr>
                            <td><%= index++ %>.</td>
                            <td><%= data.nama_product %></td>
                            <td><%= data.total_product %> pcs</td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <div class="col-xl col-md-6 mb-3">
            <div class="d-sm-flex align-items-center justify-content-between mb-3 mt-3">
                <h5 class="mb-0 text-gray-800">Stock Barang Terbanyak</h5>
            </div>
            <table class="table table-responsive table-hover">
                <thead>
                    <th style="min-width: 70px;">No.</th>
                    <th style="min-width: 230px;">Nama Product</th>
                    <th style="min-width: 150px;">Stock Barang</th>
                </thead>
                <tbody>
                    <% mostStock.forEach((data, index) => { index++ %>
                        <tr>
                            <td><%= index++ %>.</td>
                            <td><%= data.nama_product %></td>
                            <td><%= data.jumlah %> pcs</td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->