<div class="container mt-3 mb-3">
    <% if (message.length !=0) { if (message[0].alert=='success' ) { %>
        <div class="alert alert-success" role="alert">
            <%= message[0].message %>
        </div>
    <% } else if (message[0].alert=='warning' ) { %>
        <div class="alert alert-warning" role="alert">
            <%= message[0].message %>
        </div>
    <% } else { %>
        <div class="alert alert-danger" role="alert">
            <%= message[0].message %>
        </div>
    <% } } %>
    <% if (typeof errors !='undefined' ) { %>
        <div class="alert alert-danger" role="alert">
            <% errors.forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
            <% }) %>
        </div>
    <% } %>

    <!-- Here is body code -->
    <img src="/img/view/banner.jpg" style="width: 100%; height: 300px;" class="mb-3" alt="banner">
    <div class="row">
        <% dataBarang.forEach(data => { if (data.jumlah != 0){ %>
            <div class="col-6 col-sm-4 mb-3 mb-3">
                <div class="card">
                    <img src="/img/products/<%= data.photo %>" class="card-img-top" style="height: 220px;" alt="Foto Product <%= data.nama_product %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= data.nama_product %></h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a href="/add-cart/<%= data.id %>" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
        <% } }) %>
    </div>
</div>


